#headshot img {
  width: 150px;
  height: 160px;
  margin-top: 40px;
  border-radius: 100px;
}

.content_container {
  text-align: justify;
  padding: 40px 0;
}

.content_container a { color: #3399ff }
