html body {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 60px;
  font-size: 14px;
  text-align: center;
  font-family: Georgia, sans-serif;
  color: #6E6E6E;
}

a {
  color: #6E6E6E;
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
}

.container {
  width: 825px;
  margin: 0 auto;
}

.nameplate {
  float: left;
  margin: 15px 0;
  text-transform: uppercase;
  display: inline-block;
}

nav {
  background-color: #3399ff;
  color: #F8F8F8;
  padding: 0;
  text-align: right;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: #F8F8F8;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:last-child {
  padding-right: 0;
}

nav a:hover {
  color: #fff;
}

/*Footer Styles*/
footer {
  position: relative;
  bottom: 0;
}

footer .container {
  border-top: 1px solid #6E6E6E;
  padding: 20px 0 10px 0;
}

.contact_info * {
  display: inline;
  float: left;
}

.media_links,
.media_links a {
  float: right;
  font-size: 18px;
  padding: 0 0 0 20px;
}

/*Media Queries*/
/*@media only screen and (max-width: 975px){
  .media_links {
    display: inline-block;
    margin: 0 auto;
    float: none;
  }
}
*/
