.projects {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.project_section_title {
  text-align: left;
  font-weight: 300;
  padding: 20px 0;
}

.project img {
  display: inline-block;
  border: 1px solid #eee;
  height: 200px;
  width: 400px;
}

/*Mobile*/
@media only screen and (max-width: 550px){
  .projects {
    display: block;
    padding-bottom: 0;
  }

  .project_section_title {
    padding: 20px 0 0 0;
    margin-bottom: 0;
  }

  .project img {
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}
