.me-content {
  text-align: justify;
  font-size: 20px;
  font-family: Georgia, sans-serif;
  font-style: italic;
}

.me {
  font-size: 15px;
  color: #6E6E6E;
  margin-top: 30px;
}

.me p {
  text-align: justify;
  margin-left: 100px;
  margin-right: 130px;
}
