html body {
  background-color: white;
  margin: 0 auto;
  padding-bottom: 60px;
  font-size: 16px;
  text-align: center;
  font-family: Georgia, sans-serif;
  color: #6E6E6E;
  /*overflow: hidden;*/
}

.title {
  font-family: Helvetica ;
  font-style: italic;
  color: #848484;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

nav {
  text-align: center;
  padding: 0;
}

nav ul {
  font-size: 16px;
  overflow: hidden;
  background-color: #3399ff;
  margin: 0;
}

nav li{
  display: inline-block;
  margin: 0 3px;
  padding: 3px 7px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.content_container {
  color: #6E6E6E;
  margin-top: 120px;
}

.content {
  text-align: justify;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#headshot{
  text-align: center;
  margin-top: 60px;
}

#headshot img {
  width: 150px;
  border-radius: 100px
}

.personal a {
  text-decoration: none;
  color: #3399ff;
}

.media_links a {
  display: inline-block;
}

.media_links a img{
  height: 25px;
  width: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 16px;
  width: 100%;
}


