html {
  background-color: #CEF6F5;
  /*display: inline-block;*/
}

header {
  font-size: 50px;
  text-align: center;
  display: inline;
  margin: 0em;
}

a:link {
  color: #6E6E6E;
}

.title {
  margin: 0em;
  font-family: Georgia, sans-serif;
  font-style: italic;
  color: #848484;
}

.content {
  margin-top: 30px;
  text-align: center;
  font-family: Helvetica;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  height: 70px;
}

nav ul li{
  list-style-type: none;
  display: inline;
  float: left;
}
nav a {
  /*display: inline-block;*/
  /*padding: 14px 16px;*/
  text-decoration: none;
  color: #6E6E6E;
  text-align: center;
  padding: 30px;
  margin-left: 260px;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, sans-serif;
  font-style: italic;
}

#headshot {
  text-align: center;
  margin-top: 60px;
}

#headshot img {
  width: 150px;
}

/*Blog Page*/
.post {
  margin: 40px;
  position: relative;
  padding-top:6px;
  float:right;
}

#blog-head {
  text-align: center;
}

.blog-content {
  text-align: justify;
  margin-left: 130px;
  margin-right: 130px;
}

/*Projects*/
td a {
  text-decoration: none;
}
/*li+li {
  border-left: 1px solid #6E6E6E;
}*/

/*About Me Page*/
.me-content {
  text-align: justify;
  font-size: 20px;
  font-family: Georgia, sans-serif;
  font-style: italic;
}

.me {
  font-size: 15px;
  color: #6E6E6E;
  margin-top: 30px;
}

.me p {
  text-align: justify;
  margin-left: 100px;
  margin-right: 130px;
}

/*Contact*/

.social {
  text-align: right;
}

.social img {
  height: 30px;
  width: 30px;
}

.personal a {
  text-decoration: none;
}

.personal {
  text-align: right;
  font-size: 15px;
}
