.resume {
  width: 74%;
  border: hidden;
  padding: 0 0 40px 0;
  margin-left: 22%;
}

.resume_link {
  color: #6E6E6E;
  display: inline-block;
  width: 100%;
  padding: 40px 0 40px 0;
}

.resume_container {
  height: 100%;
  width: 90%;
  padding-bottom: 75%;
  overflow: hidden;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}

/*@media only screen and (max-width: 975px){
  .resume {
    width: 30%;
    border: hidden;
    /*padding: 0 0 40px 0;*/
  }
}*/